

	@font-face {
		font-family:"icons-custom";
		src: url("icons-custom.eot?#iefix") format("embedded-opentype"),
			url("icons-custom.woff?1fe07b5a6feec6669385b2ba2cc518d9") format("woff"),
			url("icons-custom.ttf?1fe07b5a6feec6669385b2ba2cc518d9") format("truetype");
	
		font-weight:normal;
		font-style:normal;
	}
	
	
	
	
	
	i.fa[class*="fa-csm"] {
		font-family: "icons-custom" !important;
	}
	
	
	
	/* Icons */
	
	i.fa.fa-csm-title-dental:before {
		content: "\f101" !important; 
	}
	
	
	
	i.fa.fa-csm-title-health:before {
		content: "\f102" !important; 
	}
	
	
	