<% if (fontfaceStyles) { %>

	@font-face {
		font-family:"<%= fontFamilyName %>";
		src: url("<%= fontName %>.eot?#iefix") format("embedded-opentype"),
			url("<%= fontName %>.woff?1fe07b5a6feec6669385b2ba2cc518d9") format("woff"),
			url("<%= fontName %>.ttf?1fe07b5a6feec6669385b2ba2cc518d9") format("truetype");
	
		font-weight:normal;
		font-style:normal;
	}
	
	<% } %>
	
	<% if (baseStyles) { %>
	
	i.fa[class*="fa-csm"] {
		font-family: "<%= fontFamilyName %>" !important;
	}
	
	<% } %>
	
	<% if (iconsStyles) { %>/* Icons */<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
	
	i.fa.fa-csm-<%= glyphs[glyphIdx] %>:before {
		content: "<% if (addLigatures) { %><%= glyphs[glyphIdx] %><% } else { %>\<%= codepoints[glyphIdx] %><% } %>" !important; 
	}
	
	<% } } %>
	