<template>

	<app-window-manager :layout="{
		panes: [
			{
				type: 'panes',
				size: 0.7,
				layout: [
					{
						type: 'tabs',
						size: 0.5,
						layout: [
							{ title: 'Claims', component: 'app-claims' }
						]
					},
					{
						type: 'tabs',
						size: 0.5,
						layout: [
							{ title: 'Claims', component: 'app-claims' }
						]
					}
				]
			},
			{
				type: 'panes',
				size: 0.3,
				layout: [
					{
						type: 'tabs',
						size: 0.3,
						layout: [
							{ title: 'Test', component: 'app-test' }
						]
					},
					{
						type: 'tabs',
						size: 0.4,
						layout: [
							{ title: 'Claims', component: 'app-claims' }
						]
					},
					{
						type: 'tabs',
						size: 0.3,
						layout: [
							{ title: 'Claims', component: 'app-claims' }
						]
					}
				]
			}
		],
		windows: [

		],
		docked: [
			{
				layout: [
					{ title: 'Claims', component: 'app-claims' }
				]
			}
		]
	}">
	</app-window-manager>

</template>

<script>
	export default {
		name: 'app',
		data() {
			return {
				view: 'claimLine'
			}
		},
		methods: {
			goToView(viewName) {
				this.view = viewName;
			}
		}
	}
</script>

<style lang="scss">
</style>