<template>

		<section v-if="view == 'claimList'">
			<b-container fluid class="p-0 mb-3">
				<b-row>
					<b-col sm="auto">
						<h1 class="app-tab-panel-title" m-0>
							<i class="fa fa-csm-title-health text-primary-dark mr-1"></i> Showing 60 claims for
							<b>John Q. Public</b>
						</h1>
					</b-col>
					<b-col></b-col>
					<b-col sm="auto"></b-col>
				</b-row>
			</b-container>

			<b-container fluid class="p-0">
				<b-row>
					<b-col>
						<div class="form-inline">
							<b-form-select class="mr-sm-2 mb-2 mb-sm-0" value="claimNumber" :options="[ { value: null, text: 'Filter By...' }, { value: 'claimNumber', text: 'Claim Number' } ]"></b-form-select>
							<b-form-input class="mr-sm-2 mb-2 mb-sm-0" placeholder="Claim Number"></b-form-input>
							<b-button variant="primary" class="mb-2 mb-sm-0">Apply</b-button>
						</div>
					</b-col>
					<b-col sm="auto">
						<b-form-select class="mt-3 mt-sm-0" :value="null" :options="[ { value: null, text: 'Sort By...' } ]"></b-form-select>
					</b-col>
				</b-row>
			</b-container>

			<div class="my-4">
				<span class="text-muted mr-2">
					<i class="fa fa-filter mr-2"></i>Filters:
				</span>
				<b-badge variant="light" class="p-2 my-1">
					<b>Provider Number</b>: 1234667890
					<a class="ml-1" href="#">
						<i class="fa fa-close"></i>
						<span class="sr-only">Remove this filter</span>
					</a>
				</b-badge>
				<b-badge variant="light" class="p-2 my-1">
					<b>Date Range</b>: 12/12/2017 - 12/12/2017
					<a class="ml-1" href="#">
						<i class="fa fa-close"></i>
						<span class="sr-only">Remove this filter</span>
					</a>
				</b-badge>
			</div>

			<b-list-group class="app-callout-list">
				<b-list-group-item button class="app-success" v-for="i in 3" @click="goToView('claimDetail')">
					<b-container fluid class="p-0">
						<b-row>
							<b-col xs="12" sm="6">
								<h2 class="app-callout-list-title">The Pain Center at FirstChoice
									<br>ABC123345567-12</h2>
								<p>10/10/18 - 10/10/18</p>
								<p class="text-muted">P8002 - Processed
									<i class="fa fa-check-circle text-success"></i>
								</p>
							</b-col>
							<b-col xs="12" sm="6">
								<table class="table app-divided-list m-0">
									<tr>
										<th scope="row">Total Charges</th>
										<td>$88.00</td>
									</tr>
									<tr>
										<th scope="row">Paid amount</th>
										<td>$0.00</td>
									</tr>
									<tr>
										<th scope="row">Process Date</th>
										<td>10/11/18</td>
									</tr>
									<tr>
										<th scope="row">CDHP Eligible</th>
										<td></td>
									</tr>
								</table>
							</b-col>
						</b-row>
					</b-container>
				</b-list-group-item>
			</b-list-group>

		</section>

		<section v-else-if="view == 'claimDetail'">
			<b-container fluid class="p-0 mb-3">
				<b-row>
					<b-col sm="auto">
						<h1 class="app-tab-panel-title" m-0>
							<i class="fa fa-csm-title-dental text-primary-dark mr-1"></i> Claim Details for
							<b>123ABC4567-01-01</b>
						</h1>
					</b-col>
					<b-col></b-col>
					<b-col sm="auto">
						<b-button variant="tertiary" @click="goToView('claimLine')">
							<i class="fa fa-list-alt"></i> Line Summary
						</b-button>
					</b-col>
				</b-row>
			</b-container>

			<b-card class="app-breadcrumb-nav">
				<b-button @click="goToView('claimList')">
					<i class="fa fa-chevron-left"></i>
					<span class="sr-only">Go Back</span>
				</b-button>
				<b-breadcrumb :items="[{ text: 'Claims' }, { text: 'Claim Details', active: true }]" />
			</b-card>

			<table class="table app-data-list">
				<tr>
					<th>Batch</th>
					<td>PUC17180</td>
					<th>Action Requested</th>
					<td>-</td>
				</tr>
				<tr>
					<th>Plan</th>
					<td>885</td>
					<th>Linked Claim</th>
					<td>-</td>
				</tr>
				<tr>
					<th>RPN</th>
					<td>001</td>
					<th>Previous Payment To</th>
					<td>-</td>
				</tr>
			</table>

			<h2 class="app-secondary-header">Claim Header</h2>

			<table class="table app-data-list">
				<tr>
					<th>Batch</th>
					<td>PUC17180</td>
					<th>Action Requested</th>
					<td>-</td>
				</tr>
				<tr>
					<th>Plan</th>
					<td>885</td>
					<th>Linked Claim</th>
					<td>-</td>
				</tr>
				<tr>
					<th>RPN</th>
					<td>001</td>
					<th>Previous Payment To</th>
					<td>-</td>
				</tr>
			</table>

			<h2 class="app-secondary-header">Explanation of Benefits Messages</h2>

			<b-card>
				<p>LOREM IPSUM...</p>
			</b-card>

		</section>

		<section v-else-if="view == 'claimLine'">
			<b-container fluid class="p-0 mb-3">
				<b-row>
					<b-col sm="auto">
						<h1 class="app-tab-panel-title" m-0>
							<i class="fa fa-csm-title-health text-primary-dark mr-1"></i> Claim Line | Claim
							<b>123ABC4567-01-01</b>
						</h1>
					</b-col>
					<b-col></b-col>
					<b-col sm="auto"></b-col>
				</b-row>
			</b-container>

			<b-card class="app-breadcrumb-nav">
				<b-button @click="goToView('claimDetail')">
					<i class="fa fa-chevron-left"></i>
					<span class="sr-only">Go Back</span>
				</b-button>
				<b-breadcrumb :items="[{ text: 'Claims' }, { text: 'Claim Details' }, { text: 'Line Summary', active: true }]" />
			</b-card>

			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Corrected</th>
							<th>Date of Service</th>
							<th>Procedure Diagnosis</th>
							<th>Charges</th>
							<th>DUIT</th>
							<th>Paid</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="i of 4">
							<td>
								<a href="#">Line&nbsp;{{ i }}</a>
							</td>
							<td>-</td>
							<td>12/01/2017 - 12/01/2017</td>
							<td>99213485</td>
							<td>$88.00</td>
							<td>00001</td>
							<td>$0.00</td>
							<td>P8001</td>
						</tr>
					</tbody>
				</table>
			</div>

		</section>



</template>

<script>
	export default {
		name: 'app-claims',
		data() {
			return {
				view: 'claimLine'
			}
		},
		methods: {
			goToView(viewName) {
				this.view = viewName;
			}
		}
	}
</script>

<style lang="scss">
</style>