<template>
	<div class="app-resize-panes" :class="{ 'app-resizing': resizing, 'app-resize-panes-vertical': displayVertical }" :data-layout-id="id">
		<div class="app-resize-pane-drop-before"></div>
		<template v-for="(definition, i) in layout">
			<div class="app-resize-pane" :key="definition.id + '-panes'" :style="{
				'width': (!displayVertical) ? paneSizes[i] + 'px' : null,
				'height': (displayVertical) ? paneSizes[i] + 'px' : null
			}">
				<template v-if="definition.type == 'panes'">
					<app-resize-panes :layout="definition.layout" :id="definition.id" @tab-drag="onTabDrag($event)"></app-resize-panes>
				</template>
				<template v-else-if="definition.type == 'tabs'">
					<app-tab-panel :tabs="definition.layout" :id="definition.id" @tab-drag="onTabDrag($event)"></app-tab-panel>
				</template>
			</div>
			<div v-if="i &lt; layout.length-1" :key="definition.id + '-separator'" :data-separator-index="i+1" tabindex="-1" class="app-resize-pane-separator" :class="{ 'app-resizing': resizing &amp;&amp; resizingIndex == i }" @mousedown="onMouseDownSeparator($event, i)"></div>
		</template>
		<div class="app-resize-pane-drop-after"></div>
	</div>
</template>

<script>

	import Vue from 'vue';

	let mouseUpListeners = [];
	
	let registerMouseUpListener = (listener) => {
		mouseUpListeners.push(listener);
	};
	let unregisterMouseUpListener = (listener) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			if (mouseUpListeners[i] === listener) {
				mouseUpListeners.splice(i, 1);
				break;
			}
		}
	};

	let mouseMoveListeners = [];

	let registerMouseMoveListener = (listener) => {
		mouseMoveListeners.push(listener);
	};
	let unregisterMouseMoveListener = (listener) => {
		for (let i=0, il=mouseMoveListeners.length; i<il; i++) {
			if (mouseMoveListeners[i] === listener) {
				mouseMoveListeners.splice(i, 1);
				break;
			}
		}
	};

	let resizeListeners = [];
	
	let registerResizeListener = (listener) => {
		resizeListeners.push(listener);
	};
	let unregisterResizeListener = (listener) => {
		for (let i=0, il=resizeListeners.length; i<il; i++) {
			if (resizeListeners[i] === listener) {
				resizeListeners.splice(i, 1);
				break;
			}
		}
	};

	document.addEventListener('mouseup', (e) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			mouseUpListeners[i](e);
		}
	});

	document.addEventListener('mousemove', (e) => {
		for (let i=0, il=mouseMoveListeners.length; i<il; i++) {
			mouseMoveListeners[i](e);
		}
	});
	
	window.addEventListener('mouseleave', (e) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			mouseUpListeners[i](e);
		}
	});

	let lastResizeTime = 0;
	let resizeDebounceHandle = null;

	window.addEventListener('resize', (e) => {
		// This throttles & debounces the last call for performance.
		let doResize = () => {
			for (let i=0, il=resizeListeners.length; i<il; i++) {
				resizeListeners[i](e);
			}
			lastResizeTime = window.performance.now();
		};
		let time = window.performance.now();
		if (time - lastResizeTime > 50) {
			doResize();
		}
		clearTimeout(resizeDebounceHandle);
		resizeDebounceHandle = setTimeout(() => {
			doResize();
		}, 51);
	});

	export default {
		name: 'app-resize-panes',
		props: {
			id: [Number, String],
			layout: Array,
			vertical: {
				default: true,
				type: Boolean
			}
		},
		data() {
			return {
				displayVertical: true,
				paneSizes: [],
				resizing: false,
				resizingIndex: 0
			}
		},
		methods: {
			goToView(viewName) {
				this.view = viewName;
			},
			onMouseDownSeparator(e, i) {
				if (e.which == 1) {
					e.preventDefault();
					this.resizing = true;
					this.resizingIndex = i;
					this.onMouseMoveDocument(e);
				}
			},
			onMouseMoveDocument(e) {
				if (this.resizing) {
					let pos = (this.displayVertical) ? e.pageY : e.pageX;
					let containerSize = (this.displayVertical) ? this.$el.clientHeight : this.$el.clientWidth;
					let containerOffset = (this.displayVertical) ? this.$el.getBoundingClientRect().top : this.$el.getBoundingClientRect().left;
					let containerPos = (pos - containerOffset) / containerSize;
					let leadingSize = 0;
					let paneSizeTotal = 0;
					for (let i=0, il=this.layout.length; i<il; i++) {
						if (i<this.resizingIndex) {
							leadingSize += this.paneSizes[i];
						}
						paneSizeTotal += this.paneSizes[i];
					}
					let prevPaneSize = this.paneSizes[this.resizingIndex];
					let nextPaneSize = this.paneSizes[this.resizingIndex+1];
					let resizingSize = prevPaneSize + nextPaneSize;
					if (containerPos < leadingSize / containerSize) containerPos = leadingSize / containerSize;
					if (containerPos > (leadingSize + resizingSize) / containerSize) containerPos = (leadingSize + resizingSize) / containerSize;
					this.paneSizes[this.resizingIndex] = (containerPos * paneSizeTotal) - leadingSize;
					this.paneSizes[this.resizingIndex+1] = resizingSize - this.paneSizes[this.resizingIndex];
					this.$forceUpdate();
					this.$emit('resize');
				}
			},
			onMouseUpDocument(e) {
				if (e.which == 1) {
					this.resizing = false;
				}
			},
			onResizeWindow(e) {
				Vue.nextTick(() => {
					let sizes = [];
					let sizeTotal = 0;
					let containerSize = ((this.displayVertical) ? this.$el.clientHeight : this.$el.clientWidth) - (6 * (this.layout.length-1));
					for (let i=0, il=this.layout.length; i<il; i++) {
						let size = this.paneSizes[i] || 1;
						sizeTotal += size;
						sizes.push(size);
					}
					for (let i=0, il=sizes.length; i<il; i++) {
						sizes[i] = ((sizes[i] / sizeTotal) * containerSize);
						this.paneSizes[i] = sizes[i];
					}
					this.$forceUpdate();
					
				});
				this.$emit('resize');
			},
			onTabDrag(e) {
				this.$emit('tab-drag', e);
			}
		},
		mounted() {
			registerMouseUpListener(this.onMouseUpDocument);
			registerMouseMoveListener(this.onMouseMoveDocument);
			if (this.$parent && (this.$parent.$options._componentTag == 'app-window-manager' || this.$parent.$options._componentTag == 'app-resize-panes')) {
				this.displayVertical = (typeof this.$parent.displayVertical === 'undefined') ? false : !this.$parent.displayVertical;
				this.$parent.$on('resize', this.onResizeWindow);
			} else {
				registerResizeListener(this.onResizeWindow);
			}
		},
		destroyed() {
			unregisterMouseUpListener(this.onMouseUpDocument);
			unregisterMouseMoveListener(this.onMouseMoveDocument);
			unregisterResizeListener(this.onResizeWindow);
			this.$parent && this.$parent.$off('resize', this.onResizeWindow);
		},
		watch: {
			layout: {
				immediate: true,
				handler(layout) {
					Vue.nextTick(() => {
						if (layout.length != this.paneSizes.length) {
							this.paneSizes = [];
						}
						let sizes = [];
						let sizeTotal = 0;
						let containerSize = ((this.vertical) ? this.$el.clientHeight : this.$el.clientWidth) - (6 * (layout.length-1));
						for (let i=0, il=layout.length; i<il; i++) {
							let size = (this.paneSizes[i]) ? this.paneSizes[i] : layout[i].size || 1;
							sizeTotal += size;
							sizes.push(size);
						}
						for (let i=0, il=sizes.length; i<il; i++) {
							sizes[i] = ((sizes[i] / sizeTotal) * containerSize);
							this.paneSizes[i] = sizes[i];
						}
						this.$forceUpdate();
					});
				}
			},
			vertical: {
				immediate: true,
				handler(vertical) {
					this.displayVertical = vertical;
				}
			}
		}
	}
</script>