<template>
	<b-container fluid class="app-tab-panel"
		:class="{
			'breakpoint-min-sm': breakpoints.minSm,
			'breakpoint-min-md': breakpoints.minMd,
			'breakpoint-min-lg': breakpoints.minLg,
			'breakpoint-min-xl': breakpoints.minXl,
			'breakpoint-max-sm': breakpoints.maxSm,
			'breakpoint-max-md': breakpoints.maxMd,
			'breakpoint-max-lg': breakpoints.maxLg,
			'breakpoint-max-xl': breakpoints.maxXl,
			'app-tab-panel-expand-sidebar-left': showLeftSidebar,
			'app-tab-panel-expand-sidebar-right': showRightSidebar
		}"
		:data-layout-id="id"
	>
		<b-row no-gutters>
			<b-col class="app-tab-panel-sidebar-left">
				<slot name="sidebar-left"></slot>
				
			</b-col>
			<b-col ref="tabPanelMain" class="app-tab-panel-main">
				<b-card no-body class="app-tab-panel-tabs">
					<b-tabs card ref="tabs">
						<b-tab v-for="(tab, i) in tabs" :key="i" :title="tab.title">
							<div :is="tab.component" :="tab.props"></div>
						</b-tab>
					</b-tabs>
				</b-card>
			</b-col>
			<b-col class="app-tab-panel-sidebar-right">
				<slot name="sidebar-right"></slot>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>

	let mouseUpListeners = [];
	
	let registerMouseUpListener = (listener) => {
		mouseUpListeners.push(listener);
	};
	let unregisterMouseUpListener = (listener) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			if (mouseUpListeners[i] === listener) {
				mouseUpListeners.splice(i, 1);
				break;
			}
		}
	};

	let mouseMoveListeners = [];

	let registerMouseMoveListener = (listener) => {
		mouseMoveListeners.push(listener);
	};
	let unregisterMouseMoveListener = (listener) => {
		for (let i=0, il=mouseMoveListeners.length; i<il; i++) {
			if (mouseMoveListeners[i] === listener) {
				mouseMoveListeners.splice(i, 1);
				break;
			}
		}
	};

	let resizeListeners = [];

	let registerResizeListener = (listener) => {
		resizeListeners.push(listener);
	};
	let unregisterResizeListener = (listener) => {
		for (let i=0, il=resizeListeners.length; i<il; i++) {
			if (resizeListeners[i] === listener) {
				resizeListeners.splice(i, 1);
				break;
			}
		}
	};

	document.addEventListener('mouseup', (e) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			mouseUpListeners[i](e);
		}
	});

	document.addEventListener('mousemove', (e) => {
		for (let i=0, il=mouseMoveListeners.length; i<il; i++) {
			mouseMoveListeners[i](e);
		}
	});
	
	window.addEventListener('mouseleave', (e) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			mouseUpListeners[i](e);
		}
	});

	let lastResizeTime = 0;
	let resizeDebounceHandle = null;

	window.addEventListener('resize', (e) => {
		// This throttles & debounces the last call for performance.
		let doResize = () => {
			for (let i=0, il=resizeListeners.length; i<il; i++) {
				resizeListeners[i](e);
			}
			lastResizeTime = window.performance.now();
		};
		let time = window.performance.now();
		if (time - lastResizeTime > 50) {
			doResize();
		}
		clearTimeout(resizeDebounceHandle);
		resizeDebounceHandle = setTimeout(() => {
			doResize();
		}, 51);
	});

	export default {
		name: 'app-tab-panel',
		props: {
			id: [Number, String],
			showLeftSidebar: {
				type: Boolean,
				default: false
			},
			showRightSidebar: {
				type: Boolean,
				default: false
			},
			tabs: Array
		},
		data() {
			return {
				breakpoints: {
					minSm: false,
					minMd: false,
					minLg: false,
					minXl: false,
					maxSm: false,
					maxMd: false,
					maxLg: false,
					maxXl: false
				},
				mouseDownTabIndex: -1,
				mouseDownTabX: 0,
				mouseDownTabY: 0
			}
		},
		methods: {
			onMouseUpDocument(e) {
				this.mouseDownTabIndex = -1;
			},
			onMouseMoveDocument(e) {
				if (this.mouseDownTabIndex > -1) {
					if (Math.abs(e.pageX - this.mouseDownTabX) > 10 || Math.abs(e.pageY - this.mouseDownTabY) > 10) {
						this.$emit('tab-drag', { tab: this.tabs[this.mouseDownTabIndex], width: this.$el.clientWidth, height: this.$el.clientHeight });
						this.mouseDownTabIndex = -1;
					}
				}
			},
			onResizeDocument(e) {
				let tabContentWidth = this.$refs['tabPanelMain'].clientWidth;
				
				this.breakpoints.maxSm = (tabContentWidth < 576);
				this.breakpoints.maxMd = (tabContentWidth < 768);
				this.breakpoints.maxLg = (tabContentWidth < 992);
				this.breakpoints.maxXl = (tabContentWidth < 1200);
				this.breakpoints.minSm = (tabContentWidth >= 576);
				this.breakpoints.minMd = (tabContentWidth >= 768);
				this.breakpoints.minLg = (tabContentWidth >= 992);
				this.breakpoints.minXl = (tabContentWidth >= 1200);
			}
		},
		mounted() {
			if (this.$parent && (this.$parent.$options._componentTag == 'app-window-manager' || this.$parent.$options._componentTag == 'app-resize-panes' || this.$parent.$options._componentTag == 'app-window-manager-window')) {
				this.$parent.$on('resize', this.onResizeDocument);
			} else {
				registerResizeListener(this.onResizeDocument);
			}
			this.onResizeDocument();
			registerMouseUpListener(this.onMouseUpDocument);
			registerMouseMoveListener(this.onMouseMoveDocument);
		},
		updated() {
			if (this.$refs.tabs) {
				this.$refs.tabs.$el.querySelector('.card-header').addEventListener('dragstart', (e) => {
					e.preventDefault();
				});
				this.$refs.tabs.$el.querySelector('.card-header').addEventListener('mousedown', (e) => {
					if (e.which == 1) {
						let target = e.target;
						if (target && target.classList.contains('nav-link')) {
							this.mouseDownTabIndex = Array.prototype.indexOf.call(target.closest('.nav').children, target.closest('.nav-item'));
							this.mouseDownTabX = e.pageX;
							this.mouseDownTabY = e.pageY;
						}
					}
				});
			}
		},
		destroyed() {
			if (this.$parent) this.$parent.$off('resize', this.onResizeDocument);
			unregisterResizeListener(this.onResizeDocument);
			unregisterMouseUpListener(this.onMouseUpDocument);
			unregisterMouseMoveListener(this.onMouseMoveDocument);
		}
	}
</script>
