<template>
	<section>
		Test!
	</section>
</template>

<script>
	export default {
		name: 'app-test',
		data() {
			return {
		
			}
		},
		methods: {
		
		}
	}
</script>

<style lang="scss">
</style>