<template>

	<div role="dialog" class="app-window-manager-window" :style="{ 'top': top + 'px', 'left': left + 'px', 'width': width + 'px', 'height': height + 'px'}" @mousedown="onFocusWindow($event)" @focusin="onFocusWindow($event)">
		<div class="app-window-manager-window-controls" @mousedown="onMouseDownControls($event)">
			<a href="javascript:void(0)" @click="$emit('minimize', id)">
				<i class="fa fa-window-minimize"></i>
			</a>
			<a href="javascript:void(0)" @click="onToggleMaximize()">
				<i class="fa" :class="{ 'fa-window-maximize': !maximized, 'fa-window-restore': maximized }"></i>
			</a>
			<a href="javascript:void(0)" @click="$emit('close', id)">
				<i class="fa fa-window-close"></i>
			</a>
		</div>
		<div class="app-window-manager-window-content">
			<app-tab-panel :tabs="tabs" :id="id" @tab-drag="onTabDrag($event)"></app-tab-panel>
		</div>
		<div v-if="!maximized" class="app-window-manager-window-resize-handles">
			<div class="app-window-manager-window-resize-handle-nw" @mousedown="onMouseDownResize($event, 'nw')"></div>
			<div class="app-window-manager-window-resize-handle-ne" @mousedown="onMouseDownResize($event, 'ne')"></div>
			<div class="app-window-manager-window-resize-handle-sw" @mousedown="onMouseDownResize($event, 'sw')"></div>
			<div class="app-window-manager-window-resize-handle-se" @mousedown="onMouseDownResize($event, 'se')"></div>
		</div>
	</div>

</template>

<script>

	let mouseUpListeners = [];
	
	let registerMouseUpListener = (listener) => {
		mouseUpListeners.push(listener);
	};
	let unregisterMouseUpListener = (listener) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			if (mouseUpListeners[i] === listener) {
				mouseUpListeners.splice(i, 1);
				break;
			}
		}
	};

	let mouseMoveListeners = [];

	let registerMouseMoveListener = (listener) => {
		mouseMoveListeners.push(listener);
	};
	let unregisterMouseMoveListener = (listener) => {
		for (let i=0, il=mouseMoveListeners.length; i<il; i++) {
			if (mouseMoveListeners[i] === listener) {
				mouseMoveListeners.splice(i, 1);
				break;
			}
		}
	};

	let resizeListeners = [];

	let registerResizeListener = (listener) => {
		resizeListeners.push(listener);
	};
	let unregisterResizeListener = (listener) => {
		for (let i = 0, il = resizeListeners.length; i < il; i++) {
			if (resizeListeners[i] === listener) {
				resizeListeners.splice(i, 1);
				break;
			}
		}
	};

	document.addEventListener('mouseup', (e) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			mouseUpListeners[i](e);
		}
	});

	document.addEventListener('mousemove', (e) => {
		for (let i=0, il=mouseMoveListeners.length; i<il; i++) {
			mouseMoveListeners[i](e);
		}
	});
	
	window.addEventListener('mouseleave', (e) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			mouseUpListeners[i](e);
		}
	});

	let lastResizeTime = 0;
	let resizeDebounceHandle = null;

	window.addEventListener('resize', (e) => {
		// This throttles & debounces the last call for performance.
		let doResize = () => {
			for (let i = 0, il = resizeListeners.length; i < il; i++) {
				resizeListeners[i](e);
			}
			lastResizeTime = window.performance.now();
		};
		let time = window.performance.now();
		if (time - lastResizeTime > 50) {
			doResize();
		}
		clearTimeout(resizeDebounceHandle);
		resizeDebounceHandle = setTimeout(() => {
			doResize();
		}, 51);
	});

	export default {
		name: 'app-window-manager-window',
		props: {
			startingPosition: Object,
			id: [Number, String],
			tabs: Array,
			zIndex: Number
		},
		data() {
			return {
				mouseDownX: 0,
				mouseDownY: 0,
				height: window.innerHeight - 200,
				isDragging: false,
				isResizing: false,
				left: 100,
				maximized: false,
				maximizeStoredPosition: {},
				resizeDirection: null,
				top: 100,
				width: window.innerWidth - 200
			}
		},
		methods: {
			onFocusWindow() {
				this.$emit('focus', this.id);
			},
			onMouseDownControls(e) {
				if (e.which == 1) {
					e.preventDefault();
					this.mouseDownX = e.pageX;
					this.mouseDownY = e.pageY;
					this.isDragging = true;
				}
			},
			onMouseDownResize(e, direction) {
				if (e.which == 1) {
					e.preventDefault();
					this.mouseDownX = e.pageX;
					this.mouseDownY = e.pageY;
					this.isResizing = true;
					this.resizeDirection = direction;
				}
			},
			onMouseMoveDocument(e) {
				if (this.isDragging || this.isResizing) {
					let mouseDownX = e.pageX;
					let mouseDownY = e.pageY;
					if (this.isDragging) {
						this.left += mouseDownX - this.mouseDownX;
						this.top += mouseDownY - this.mouseDownY;
					}
					else if (this.isResizing) {
						if (this.resizeDirection) {
							if (this.resizeDirection.charAt(0) == 's') {
								this.height += mouseDownY - this.mouseDownY;
							}
							if (this.resizeDirection.charAt(0) == 'n') {
								this.top += mouseDownY - this.mouseDownY;
								this.height -= mouseDownY - this.mouseDownY;
							}
							if (this.resizeDirection.charAt(1) == 'e') {
								this.width += mouseDownX - this.mouseDownX;
							}
							if (this.resizeDirection.charAt(1) == 'w') {
								this.left += mouseDownX - this.mouseDownX;
								this.width -= mouseDownX - this.mouseDownX;	
							}
						}
					}
					this.mouseDownX = mouseDownX;
					this.mouseDownY = mouseDownY;
					this.limitSizeBounds();
				}
			},
			onMouseUpDocument(e) {
				this.isDragging = false;
				this.isResizing = false;
			},
			onResizeDocument(e) {
				if (this.maximized) {
					this.top = 0;
					this.left = 0;
					this.width = window.innerWidth;
					this.height = window.innerHeight;
				}
				this.limitSizeBounds();
			},
			onTabDrag(e) {
				this.$emit('tab-drag', e);
			},
			onToggleMaximize() {
				this.maximized = !this.maximized;
				if (this.maximized) {
					this.maximizeStoredPosition = {
						top: this.top,
						left: this.left,
						width: this.width,
						height: this.height
					};
					this.top = 0;
					this.left = 0;
					this.width = window.innerWidth;
					this.height = window.innerHeight;
				} else {
					this.top = this.maximizeStoredPosition.top;
					this.left = this.maximizeStoredPosition.left;
					this.width = this.maximizeStoredPosition.width;
					this.height = this.maximizeStoredPosition.height;
				}
				this.limitSizeBounds();
			},
			limitSizeBounds() {
				if (this.left < 0) this.left = 0;
				if (this.top < 0) this.top = 0;
				if (this.height > window.innerHeight) this.height = window.innerHeight;
				if (this.width > window.innerWidth) this.width = window.innerWidth;
				if (this.top + this.height > window.innerHeight) this.top = window.innerHeight - this.height;
				if (this.left + this.width > window.innerWidth) this.left = window.innerWidth - this.width;
				if (this.width < 200) this.width = 200;
				if (this.height < 200) this.height = 200;
				this.$emit('resize');
			}
		},
		mounted() {
			registerMouseUpListener(this.onMouseUpDocument);
			registerMouseMoveListener(this.onMouseMoveDocument);
			registerResizeListener(this.onResizeDocument);
		},
		destroyed() {
			unregisterMouseUpListener(this.onMouseUpDocument);
			unregisterMouseMoveListener(this.onMouseMoveDocument);
			unregisterResizeListener(this.onResizeDocument);
		},
		watch: {
			startingPosition: {
				immediate: true,
				handler(startingPosition) {
					if (startingPosition.left) this.left = startingPosition.left;
					if (startingPosition.top) this.top = startingPosition.top;
					if (startingPosition.width) this.width = startingPosition.width;
					if (startingPosition.height) this.height = startingPosition.height;
					this.limitSizeBounds();
				}
			}
		}
	}
</script>