<template>
	<div class="app-window-manager" :class="{ 'app-dragging': draggingTab }">
		<div class="app-window-manager-panes">
			<app-resize-panes :vertical="false" :layout="panes" :id="-1" @tab-drag="onTabDrag($event)"></app-resize-panes>
		</div>
		<div class="app-window-manager-taskbar">
			<b-nav>
				<b-nav-item v-for="dockedWindow in docked" :key="dockedWindow.id">{{ dockedWindow.layout[0].title }}</b-nav-item>
			</b-nav>
		</div>
		<div class="app-window-manager-windows">
			<app-window-manager-window v-for="window in windows" :key="window.id" :id="window.id" :tabs="window.layout" :starting-position="window.startingPosition || {}" @focus="onFocusWindow($event)" @close="onCloseWindow($event)" @minimize="onMinimizeWindow($event)" @tab-drag="onTabDrag($event)"></app-window-manager-window>
		</div>
		<div v-if="draggingTab" class="app-window-manager-drag-icon" :style="{ left: mouseX+'px', top: mouseY+'px' }"></div>
	</div>
</template>

<script>

	if (window.Element && !Element.prototype.closest) {
		Element.prototype.closest = 
		function(s) {
			var matches = (this.document || this.ownerDocument).querySelectorAll(s),
				i,
				el = this;
			do {
				i = matches.length;
				while (--i >= 0 && matches.item(i) !== el) {};
			} while ((i < 0) && (el = el.parentElement)); 
			return el;
		};
	}

	let mouseUpListeners = [];
	
	let registerMouseUpListener = (listener) => {
		mouseUpListeners.push(listener);
	};
	let unregisterMouseUpListener = (listener) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			if (mouseUpListeners[i] === listener) {
				mouseUpListeners.splice(i, 1);
				break;
			}
		}
	};

	let mouseMoveListeners = [];

	let registerMouseMoveListener = (listener) => {
		mouseMoveListeners.push(listener);
	};
	let unregisterMouseMoveListener = (listener) => {
		for (let i=0, il=mouseMoveListeners.length; i<il; i++) {
			if (mouseMoveListeners[i] === listener) {
				mouseMoveListeners.splice(i, 1);
				break;
			}
		}
	};

	let resizeListeners = [];

	let registerResizeListener = (listener) => {
		resizeListeners.push(listener);
	};
	let unregisterResizeListener = (listener) => {
		for (let i=0, il=resizeListeners.length; i<il; i++) {
			if (resizeListeners[i] === listener) {
				resizeListeners.splice(i, 1);
				break;
			}
		}
	};

	document.addEventListener('mouseup', (e) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			mouseUpListeners[i](e);
		}
	});

	document.addEventListener('mousemove', (e) => {
		for (let i=0, il=mouseMoveListeners.length; i<il; i++) {
			mouseMoveListeners[i](e);
		}
	});
	
	window.addEventListener('mouseleave', (e) => {
		for (let i=0, il=mouseUpListeners.length; i<il; i++) {
			mouseUpListeners[i](e);
		}
	});

	let lastResizeTime = 0;
	let resizeDebounceHandle = null;

	window.addEventListener('resize', (e) => {
		// This throttles & debounces the last call for performance.
		let doResize = () => {
			for (let i=0, il=resizeListeners.length; i<il; i++) {
				resizeListeners[i](e);
			}
			lastResizeTime = window.performance.now();
		};
		let time = window.performance.now();
		if (time - lastResizeTime > 50) {
			doResize();
		}
		clearTimeout(resizeDebounceHandle);
		resizeDebounceHandle = setTimeout(() => {
			doResize();
		}, 51);
	});

	export default {
		props: {
			layout: {
				default: { panels: [], windows: [] },
				type: Object
			}
		},
		name: 'app-window-manager',
		data() {
			return {
				docked: [],
				draggingTab: false,
				draggingTabDefinition: null,
				mouseX: 0,
				mouseY: 0,
				panes: [],
				windows: [],
				uidCounter: 0
			}
		},
		methods: {
			detachTab(tab) {
				this.detachTabRecursive(this.panes, tab);
				this.detachTabRecursive(this.windows, tab);
				this.removeEmptyLayoutsRecursive([ { id: -1, type: 'panes', layout: this.panes } ]);
				this.removeEmptyLayoutsRecursive(this.windows);
				this.$forceUpdate();
			},
			detachTabRecursive(rootLayout, tab) {
				for (let i=0, il=rootLayout.length; i<il; i++) {
					if (rootLayout[i].id == tab.id) {
						rootLayout.splice(i, 1);
						break;
					}
					else if (rootLayout[i] &&rootLayout[i].layout) {
						this.detachTabRecursive(rootLayout[i].layout, tab);
					}
				}
			},
			idTabsRecursive(root) {
				for (let i=0, il=root.length; i<il; i++) {
					root[i].id = this.uidCounter++;
					if (root[i].layout) {
						this.idTabsRecursive(root[i].layout);
					}
				}
			},
			insertTabInGroup(layoutId, tab) {
				this.insertTabInGroupRecursive(this.panes, layoutId, tab);
				this.insertTabInGroupRecursive(this.windows, layoutId, tab);
				this.$forceUpdate();
			},
			insertTabInGroupRecursive(root, layoutId, tab) {
				for (let i=0, il=root.length; i<il; i++) {
					if (root[i].id == layoutId) {
						if (root[i].layout) {
							root[i].layout.push(tab);
						}
						break;
					}
					else if (root[i].layout) {
						this.insertTabInGroupRecursive(root[i].layout, layoutId, tab);
					}
				}
			},
			insertTabInPanes(layoutId, layoutIndex, tab) {
				this.insertTabInPanesRecursive([ { id: -1, type: 'panes', layout: this.panes } ], layoutId, layoutIndex, tab);
				this.$forceUpdate();
			},
			insertTabInPanesRecursive(root, layoutId, layoutIndex, tab) {
				for (let i=0, il=root.length; i<il; i++) {
					if (root[i].id == layoutId) {
						if (root[i].layout) {
							let tabsDef = {
								id: this.uidCounter++,
								layout: [tab],
								type: 'tabs'
							};
							if (root[i].id == -1) {
								root[i].layout.splice(layoutIndex, 0, {
									type: 'panes',
									id: this.uidCounter++,
									layout: [tabsDef]
								});
							} else {
								root[i].layout.splice(layoutIndex, 0, tabsDef);
							}
							for (let j=0, jl=root[i].layout.length; j<jl; j++) {
								root[i].layout[j].size = 1;
							}
						}
						break;
					}
					else if (root[i].layout) {
						this.insertTabInPanesRecursive(root[i].layout, layoutId, layoutIndex, tab);
					}
				}
			},
			onCloseWindow(id) {
				let window;
				for (let i=0, il=this.windows.length; i<il; i++) {
					if (this.windows[i].id == id) {
						window = this.windows.splice(i, 1);
						break;
					}
				}
				// TODO - Pull out tabs that should be un-closeable.
			},
			onFocusWindow(id) {
				let window;
				for (let i=0, il=this.windows.length; i<il; i++) {
					if (this.windows[i].id == id) {
						window = this.windows.splice(i, 1);
						break;
					}
				}
				this.windows.push(window[0]);
			},
			onMouseMoveDocument(e) {
				this.mouseX = e.pageX;
				this.mouseY = e.pageY;
			},
			onMouseUpDocument(e) {
				if (this.draggingTab) {
					let layoutId;
					if (e.target && e.target.classList.contains('nav-tabs')) {
						let tabPanelParent = e.target.closest('.app-tab-panel[data-layout-id]');
						if (tabPanelParent) {
							layoutId = parseInt(tabPanelParent.getAttribute('data-layout-id'), 10);
						}
					}
					if (typeof layoutId !== 'undefined') {
						this.insertTabInGroup(layoutId, this.draggingTabDefinition.tab);
					} else {
						let layoutIndex;
						if (e.target && (e.target.classList.contains('app-resize-pane-separator') || e.target.classList.contains('app-resize-pane-drop-before') || e.target.classList.contains('app-resize-pane-drop-after'))) {
							let resizePanesParent = e.target.closest('.app-resize-panes[data-layout-id]');
							if (resizePanesParent) {
								layoutId = parseInt(resizePanesParent.getAttribute('data-layout-id'), 10);
								if (e.target.classList.contains('app-resize-pane-drop-before')) {
									layoutIndex = 0;
								} else if (e.target.classList.contains('app-resize-pane-drop-after')) {
									layoutIndex = 99999;
								} else {
									layoutIndex = parseInt(e.target.getAttribute('data-separator-index'), 10);
								}
							}
						}
						if (typeof layoutId !== 'undefined') {
							this.insertTabInPanes(layoutId, layoutIndex, this.draggingTabDefinition.tab);
						} else {
							this.windows.push({
								id: this.uidCounter++,
								startingPosition: {
									left: this.mouseX - 40,
									top: this.mouseY - 40,
									width: this.draggingTabDefinition.width,
									height: this.draggingTabDefinition.height
								},
								layout: [
									this.draggingTabDefinition.tab
								]
							});
						}
					}
					this.draggingTab = false;
					this.draggingTabDefinition = null;
				}
			},
			onResizeWindow(e) {
				this.$emit('resize', e);
			},
			onTabDrag(definition) {
				this.detachTab(definition.tab);
				this.draggingTab = true;
				this.draggingTabDefinition = definition;
				this.$emit('resize');
			},
			onMinimizeWindow(id) {

			},
			removeEmptyLayoutsRecursive(root) {
				for (let i=root.length-1; i>=0; i--) {
					if (root[i].layout) {
						this.removeEmptyLayoutsRecursive(root[i].layout);
						if (root[i].layout.length == 0) {
							root.splice(i, 1);
						}
					}
				}
			}
		},
		mounted() {
			registerResizeListener(this.onResizeWindow);
			registerMouseUpListener(this.onMouseUpDocument);
			registerMouseMoveListener(this.onMouseMoveDocument);
		},
		destroyed() {
			unregisterResizeListener(this.onResizeWindow);
			unregisterMouseUpListener(this.onMouseUpDocument);
			unregisterMouseMoveListener(this.onMouseMoveDocument);
		},
		watch: {
			layout: {
				immediate: true,
				handler(layout) {
					this.docked = JSON.parse(JSON.stringify(layout.docked));
					this.panes = JSON.parse(JSON.stringify(layout.panes));
					this.windows = JSON.parse(JSON.stringify(layout.windows));

					this.idTabsRecursive(this.docked);
					this.idTabsRecursive(this.panes);
					this.idTabsRecursive(this.windows);

					for (let i=0, il=this.windows.length; i<il; i++) {
						this.windows[i].id = this.uidCounter++;
					}

					for (let i=0, il=this.docked.length; i<il; i++) {
						this.docked[i].id = this.uidCounter++;
					}

				}
			},
			panes: {
				immediate: true,
				handler(panes) {
					
				}
			},
			windows: {
				immediate: true,
				handler(windows) {
					
				}
			}
		}
	}
</script>