$theme-colors: (
	"danger": #a31717,
	"info": #6498a3,
	"light": #e4e4e4,
	"primary": #529fc7,
	"primary-dark": #276b8f,
	"success": #9bcd38,
	"tertiary": #7952b3,
	"warning": #ffc000
);

$colors: (
	"drag-target": #278f2c
);

@import "node_modules/bootstrap/scss/bootstrap";

@-ms-viewport {
	width: auto !important;
}

html, body {
	height: 100vh;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {

	&.app-secondary-header {
		color: #e47e39;
		font-size: 18px;
		font-weight: normal;
		padding: 0;
		margin: 1.5rem 0 0.5rem 0;

		&:first-child {
			margin-top: 0;
		}
	}

}

p {

	margin: 1em 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

.app-resize-panes {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	> .app-resize-pane-drop-before, > .app-resize-pane-drop-after {
		display: none;
	}

	> .app-resize-pane {
		display: block;
		flex-grow: 1;
		flex-shrink: 1;
		position: relative;

		> .app-resize-panes {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

	}

	> .app-resize-pane-separator {
		background-color: #ececec;
		border-left: 1px solid #757575;
		border-right: 1px solid #757575;
		box-sizing: border-box;
		cursor: ew-resize;
		display: block;
		flex-grow: 0;
		flex-shrink: 0;
		position: relative;
		width: 6px;

		&:before {
			background: #757575;
			box-shadow: 0px -4px #757575, 0px 4px #757575;
			content: "";
			display: block;
			height: 2px;
			left: 1px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 2px;
		}

		&:hover, &.app-resizing {
			background-color: #c8c8c8;
		}

	}

	&.app-resizing {
		cursor: ew-resize;

		> .app-resize-pane {
			pointer-events: none;
		}

	}

	&.app-resize-panes-vertical {
		flex-direction: column;

		> .app-resize-pane-separator {
			border-bottom: 1px solid #757575;
			border-left: none;
			border-right: none;
			border-top: 1px solid #757575;
			cursor: ns-resize;
			height: 6px;
			width: auto;


			&:before {
				background: #757575;
				box-shadow: -4px 0px #757575, 4px 0px #757575;
				content: "";
				display: block;
				height: 2px;
				left: 50%;
				position: absolute;
				top: 1px;
				transform: translateX(-50%);
				width: 2px;
			}

		}

		&.app-resizing {
			cursor: ns-resize;
		}

	}

}

.app-window-manager {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	.app-window-manager-panes {
		bottom: 2.75rem;
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}

	.app-window-manager-taskbar {
		background-color: #eee;
		border-top: 1px solid #ccc;
		bottom: 0;
		box-sizing: border-box;
		display: block;
		height: 2.75rem;
		left: 0;
		position: absolute;
		right: 0;
		top: auto;
		z-index: 1;
	}

	.app-window-manager-windows {
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		z-index: 2;

		.app-window-manager-window {
			background: white;
			border: 1px solid #444;
			box-sizing: border-box;
			box-shadow: 0 0 30px 2px rgba(0,0,0,0.6);
			min-height: 50px;
			min-width: 50px;
			position: absolute;
			z-index: 50;

			.app-window-manager-window-controls {
				background: #235e7d;
				color: white;
				cursor: move;
				height: 2rem;
				left: 0;
				line-height: 2rem;
				padding: 0 1rem;
				position: absolute;
				right: 0;
				text-align: right;
				top: 0;

				a {
					color: white;
					cursor: pointer;
					display: inline-block;
					min-width: 1.5em;
				}
			}

			.app-window-manager-window-content {
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 2rem;
			}

			.app-window-manager-window-resize-handles {
				left: 0;
				position: static;
				top: 0;
				z-index: 20;

				.app-window-manager-window-resize-handle-ne,
				.app-window-manager-window-resize-handle-nw,
				.app-window-manager-window-resize-handle-se,
				.app-window-manager-window-resize-handle-sw {
					height: 30px;
					position: absolute;
					width: 30px;
				}

				.app-window-manager-window-resize-handle-ne {
					cursor: nesw-resize;
					right: -15px;
					top: -15px;
				}
				.app-window-manager-window-resize-handle-nw {
					cursor: nwse-resize;
					left: -15px;
					top: -15px;
				}
				.app-window-manager-window-resize-handle-se {
					cursor: nwse-resize;
					right: -15px;
					bottom: -15px;
				}
				.app-window-manager-window-resize-handle-sw {
					cursor: nesw-resize;
					left: -15px;
					bottom: -15px;
				}
			}

		}
	}

	> .app-window-manager-drag-icon {
		display: none;
	}

	&.app-dragging {
		cursor: move !important;

		> .app-window-manager-drag-icon {
			background: theme-color(success);
			border-radius: 4px;
			color: white;
			display: block;
			padding: .3rem .7rem;
			pointer-events: none;
			position: absolute;
			z-index: 10000;

			&:before {
				content: "+";
			}
		}

		.app-tab-panel {
			.app-tab-panel-tabs {
				> .tabs > .card-header:hover {
					background: color(drag-target);
				}
			}
		}

		.app-resize-panes {

			> .app-resize-pane-separator:hover {
				background-color: color(drag-target);
			}

			> .app-resize-pane-drop-before {
				bottom: 0;
				display: block;
				position: absolute;
				left: 0;
				right: auto;
				top: 0;
				width: 6px;
				z-index: 100;

				&:hover {
					background-color: color(drag-target);
				}
			}

			> .app-resize-pane-drop-after {
				bottom: 0;
				display: block;
				position: absolute;
				left: auto;
				right: 0;
				top: 0;
				width: 6px;
				z-index: 100;

				&:hover {
					background-color: color(drag-target);
				}
			}

			&.app-resize-panes-vertical {
				> .app-resize-pane-drop-before {
					bottom: auto;
					height: 6px;
					left: 0;
					right: 0;
					top: 0;
					width: auto;
				}
				> .app-resize-pane-drop-after {
					bottom: 0;
					height: 6px;
					left: 0;
					right: 0;
					top: auto;
					width: auto;
				}
			}

		}
	}

}

.card {
	border-radius: 0;
	color: #666666;
	
	> .card-body {
		padding: 1rem;
	}

	&.app-breadcrumb-nav {
		border: none;
		margin: 1rem 0;

		> .card-body {
			padding: 0;
		}

		&, > .card-body {
			display: flex;
			flex-direction: row;

			> .btn {
				background-color: #e9ecef;
				border-color: #e9ecef;
				border-radius: 4px 0 0 4px;
				border-right: 1px solid #999;
				color: black;
				flex-grow: 0;
				flex-shrink: 0;

				&:hover {
					background-color: #666;
					color: white;
				}
			}

			> .breadcrumb {
				border-radius: 0 4px 4px 0;
				flex-grow: 1;
				margin: 0;
			}

		}
	}

	&.app-tab-panel-tabs {
		border: none;
		border-radius: 0;
		height: 100%;

		> .tabs {
			display: flex;
			flex-direction: column;
			height: 100%;
			

			> .card-header {
				background-color: #276b8f;
				border: none;
				border-radius: 0;
				color: white;
				padding: 0;

				> .nav.nav-tabs {
					margin: 0;

					> .nav-item {
						
						.nav-link {
							background-color: transparent;
							border: none;
							border-radius: 0;
							color: white;
							font-size: 18px;
							padding: 12px 24px;
							position: relative;
							-webkit-user-drag: none;
							
							&.active {
								background-color: white;
								color: #276b8f;

								&:after {
									content: "";
									border-left: 6px solid transparent;
									border-right: 6px solid transparent;
									border-top: 9px solid #e47e39;
									bottom: 0;
									left: 50%;
									height: 0;
									position: absolute;
									transform: translateX(-50%);
									width: 0;
								}
							}
						}

					}

				}
			}

			> .tab-content {
				overflow-x: hidden;
				overflow-y: auto;

				> .tab-pane {
					padding: 25px 20px;

					section {
						h1.app-tab-panel-title {
							color: #666666;
							font-size: 18px;
							font-weight: normal;
							margin: 0 0 1.25rem 0;

							b {
								color: #e47e39;
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}

}

.container-fluid {

	&.app-tab-panel {
		height: 100%;
		padding: 0 !important;

		> .row {
			height: 100%;
			flex-wrap: nowrap;

			> .col {
				&.app-tab-panel-sidebar-left, &.app-tab-panel-sidebar-right {
					background-color: #efefef;
					background-repeat: repeat-y;
					max-width: 0px;
					overflow: hidden;
					transition: max-width 0.5s;

					> .app-tab-panel-sidebar-body {
						min-width: 175px;
						padding: 1rem 1.25rem;
					}
				}

				&.app-tab-panel-sidebar-left {
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAABCAYAAADq6085AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAK0lEQVQI1y3FsQ0AEBAAwLMAhQgJ9h/rR3mNa65kpoioGJjYOLj/jYWO9gASLgabkfs2bAAAAABJRU5ErkJggg==');
					background-position: top right;
				}
				&.app-tab-panel-sidebar-right {
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAABCAYAAADq6085AAAACXBIWXMAAAsTAAALEwEAmpwYAAAALUlEQVQI1y3FsQ3AIAwAMHNK/v8pCyCBEAM8QJd6ccnMh4ONgY6G+t8xsSLifnrIDf9ytZVrAAAAAElFTkSuQmCC');
					background-position: top left;
				}

				&.app-tab-panel-main {
					flex-shrink: 1;
					overflow: hidden; // Do NOT remove. Design your markup in a responsive way instead.
				}
			}
		}

		&.app-tab-panel-expand-sidebar-left {
			> .row {
				> .col {
					&.app-tab-panel-sidebar-left {
						max-width: 20%;
						min-width: 175px;
					}
				}
			}
		}

		&.app-tab-panel-expand-sidebar-right {
			> .row {
				> .col {
					&.app-tab-panel-sidebar-right {
						max-width: 20%;
						min-width: 175px;
					}
				}
			}
		}

	}

}

.custom-select {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.form-control {
	border-color: #999;
	border-radius: 0;

	&::placeholder {
		color: #ccc;
		font-weight: normal;
	}
	&:-ms-input-placeholder {
		color: #ccc;
		font-weight: normal;
	}
	&::-ms-input-placeholder {
		color: #ccc;
		font-weight: normal;
	}
}

.list-group {

	&.app-callout-list {
		margin: 1.5rem 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		> .list-group-item {
			border-color: #d9d9d9;
			margin-bottom: 0.75rem;
			padding: 18px 18px 18px 24px;

			&:before {
				background-color: theme-color('info');
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				width: 9px;
				top: 0;
			}

			&:first-child, &:last-child {
				border-radius: 0;
			}

			&.list-group-item-action {
				cursor: pointer;
			}

			&.app-success {
				&:before {
					background-color: theme-color('success');
				}
			}

			&.app-warning {
				&:before {
					background-color: theme-color('warning');
				}
			}

			&.app-danger {
				&:before {
					background-color: theme-color('danger');
				}
			}

			.app-callout-list-title {
				color: theme-color('primary');
				font-size: 18px;
				font-weight: normal;
				line-height: 1.7;
				margin: -.3rem 0 .75rem 0;
			}

		}

	}

}

.table {

	&.app-data-list {
		border: 1px solid #cccccc;
		table-layout: fixed;

		tr {
			th, td {
				border-color: #ccc;
				font-weight: normal;
				padding: 0.75rem 1rem;
			}

			th {
				background-color: #eeeeee;
				color: #666666;
			}

			&:first-child {

				th, td {
					border-top: none;
				}

			}
		}

		@media (max-width: map-get($grid-breakpoints, md) - 0.02px ) {
			display: block;

			tr {
				display: block;
				th, td {
					border-top: none;
					display: block;
				}
			}
		}
	}

	&.app-divided-list {

		tr {
			th, td {
				border-color: #cccccc;
				font-weight: normal;
				padding: 0.5rem 0.5rem 0.5rem 0;
			}
			th {
				color: black;
			}
			td {
				color: theme-color('primary-dark');
			}

			&:first-child {

				th, td {
					border-top: none;
				}
			}

		}

	}

}